<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="navbar-brand">Dashboard</span>
    </div>
    </div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tickets">
                <i class="bi bi-inbox me-2"></i> Tickets
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link disabled" href="#">
                <i class="bi bi-graph-up me-2"></i> Reports
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link disabled" href="#">
                <i class="bi bi-gear me-2"></i> Settings
            </a>
        </div>
    </nav>
</div>

